.brands {
    
    &__item {
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
    }
}