.brands {

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        justify-content: space-between;
        gap: 16px;


        @media (min-width: 1440px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__item {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        padding: 16px;
        justify-content: space-between;
    }
}