*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "TT Lakes", sans-serif;
    color: #1B1C21;
}

h1,h2,h3,h4,h5,h6 p, figure, fieldset {
    margin: 0;
}


.page {
    background-color: #F8F8F8;
    display: flex;
    min-height: 100vh;
}

.wrapper {
    flex: 1 1 auto;
}


.container {
    padding: 0 var(--offset-container);

}


.logo {
    padding: 0 16px;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}