*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "TT Lakes", sans-serif;
    color: #1B1C21;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
fieldset {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


.page {
    background-color: #F8F8F8;
    display: flex;
    min-height: 100vh;
    position: relative;
}

.page_overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.96;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
    flex: 1 1 auto;
}


.container {
    padding: 0 var(--offset-container);

}


.logo {
    padding: 0 16px;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title {

    border-top: 1px solid #D9FFF5;
    background-color: #FFFFFF;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);

    &__text {
        padding: 16px 0;
        font-size: 16px;
        line-height: 24px;
        color: #7E7E82;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0 var(--offset-container) var(--offset-container);
    }
}

.swiper-pagination-bullet {
    background-color: #DDDDDD;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.hp-img {
    height: 40px;
}