.header{

    background-color: #FFFFFF;

    &__inner{
        display: flex;
        align-items: center;
        padding: 17.5px 0;
    }

    &__burger {
        margin-right: 16px;
    }

    &__logo {
        margin-right: auto;
    }


    &__buttons {
        button:nth-child(1) {
            display: none;
        }
        button:nth-child(2) {
            display: none;
        }
        button:nth-child(3) {
            display: none;
        }
        button:nth-child(4) {
            padding-left: 22px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 4px;
                width: 2px;
                height: 32px;
                background: #EAEAEA;
                border-radius: 1px;
            }
        }
        button:nth-child(5) {
            margin-left: 16px;
        }

    }
    
}


@media (min-width: 500px) {
    .header {
        &__buttons {
            button:nth-child(1) {
                display: inline-block;
                margin-right: 16px;
            }
            button:nth-child(2) {
                display: inline-block;
                margin-right: 16px;
            }
            button:nth-child(3) {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        &__inner {
            span {
                display: inline-block;
                width: 2px;
                height: 32px;
                background: #EAEAEA;
                border-radius: 1px;
            }
        }
        &__burger {
            margin-right: 20px;
        }
        &__logo {
            margin-left: 20px;
        }
    }
}

// @media (min-width: 1440px){
//     .header {
//         display: none;
//     }
// } 